
@{
    Layout = "~/Views/Share/_LayoutPage1.cshtml";
}

@model FİNAL_PROJE.Models.ViewModel


<div id="anasayfa">
    <div style="width:450px">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th class="col-md-1" scope="col">Saat</th>
                    <th class="col-md-1" scope="col">Ders Kodu</th>
                    <th class="col-md-1" scope="col">Ders Adı</th>
                    <th class="col-md-1" scope="col">Derslik</th>
                    <th class="col-md-1" scope="col">Öğretim Elemanı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                     <td>09:</td>
                </tr>
                    </tbody>
                </table>
            </div>
             

                       
</div>



